html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#header {
  text-align: center;
  margin: 0px;
  width: 100%;
  font-size: 180%;
  vertical-align: middle;
  display: table-cell;
  background: #dd4814;
  color: #ffffff;
}

#headerwrapper {
  min-height: 50px;
  height: 7%;
  width: 100%;
  text-align: center;
  margin: 0px;
  display: table;
}

#wrapper {
  display: table;
  height: 86%;
  margin: 0px;
  min-height: 86%;
  padding: 0px;
  position: relative;
  width: 100%;
}

#leftcontainer {
  width: 80%;
  display: table-cell;
}

#leftcontents {
  padding: 20px;
}

#rightcontainer {
  background: #aea79f;
  font-size: 120%;
  display: table-cell;
  margin: 0px;
  padding: 0px;
  position: relative;
  vertical-align: top;
}

#rightcontents {
  margin: 0px;
  padding: 0px;
}

#rightinner {
  padding: 15px;
  margin: 0px;
  text-align: center;
}

.hiddena {
  position: relative;
}

.hiddenb {
  position: relative;
}

.excluded_top {
  height: auto;
  position: relative;
}

.excluded_both {
  height: auto;
  position: relative;
}

.excluded_bot {
  position: absolute;
  height: auto !important;
  bottom: 0;
  right: 0;
}

.all_visible {
  position: fixed;
  width:    20%;
  top:      6px;
  height:  auto;
  left:     80%;
}

#footer {
  min-height: 7%;
  clear: both;
  margin: 0px;
  background: #dd4814;
}

p{
/*  border: 0px;*/
/*  margin: 0px;*/
  text-align: justify;
  padding: 10px;
}

img{
  padding: 5px;
}
